version: '3'

services:

  html:
    container_name: html
    build:
      context: .
      dockerfile: ./nginx.dockerfile
    networks : 
      - global
    ports:
      - "80:80"

  socket:
    container_name: socket
    build:
      context: .
      dockerfile: ./socket.dockerfile
    networks : 
      - global
    ports:
      - "3001:3001"

  dataserver:
    container_name: dataserver
    build:
      context: .
      dockerfile: ./dataserver.dockerfile
    networks : 
      - global
    volumes:
      - ./dataServer/models/:/4DLeanBoard/dataServer/models/
    ports:
      - "3003:3003"

networks:
  global:
