.log{
	min-height : 30px;
	background-color : rgba(0,0,0,0.1);
	padding : 5px;
	margin : 5px;
	max-width : calc(100vw - 20px);
}

#content p:nth-last-child(0){
	background-color : rgba(0, 255,0,0.1);
}
#content p:nth-last-child(1){
	background-color : rgba(0,220,0,0.1);
}
#content p:nth-last-child(2){
	background-color : rgba(0,200,0,0.1);
}
#content p:nth-last-child(3){
	background-color : rgba(0,180,0,0.1);
}
#content p:nth-last-child(4){
	background-color : rgba(0,150,0,0.1);
}
#content p:nth-last-child(5){
	background-color : rgba(0, 120,0,0.1);
}
#content p:nth-last-child(6){
	background-color : rgba(0,90,0,0.1);
}
#content p:nth-last-child(7){
	background-color : rgba(0,65,0,0.1);
}
#content p:nth-last-child(8){
	background-color : rgba(0,40,0,0.1);
}
#content p:nth-last-child(9){
	background-color : rgba(0,20,0,0.1);
}

#content{
	display : flex;
	flex-direction : column-reverse;
}

.control * {
	display : inline-block;
	margin : 5px;
}

.control input{
	width : 21px;
	height : 21px;
}

body{
	overflow:hidden;
	height : 100vh;
	width : 100vw;
}

body {
	touch-action : none;
}