/* COLOR PALETTE */

$light: linear-gradient(180deg, #D9D9D9 0%, #F7F7F7 100%);
$dark: #495C79;
$white: #FFFFFF;
$blackish: #000000;
$orange: #E98106;
$greenbluish_light: #97D7C7;
$yellowish: #E7CB00;
$blueish: #6C8CBF;
$white_transparent: linear-gradient(180deg, #CBC8C8 0%, #FFFFFF 70.31%);
$black_transparent: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.78) 100%);
$green_transparent: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #97D7C7 52.08%, rgba(89, 167, 167, 0.9) 99.48%);
$greenishblack : conic-gradient(from 180deg at 50% 50%, #000000 0deg, #97D7C7 54.38deg, #97D7C7 305.62deg, #000000 360deg);
$transparent_reverse : linear-gradient(180deg, rgba(0, 0, 0, 0.78) 0%, rgba(0, 0, 0, 0) 100%);
$white_transparent_reverse : linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.2) 100%);
$greenishlight_transparent : rgba(151, 215, 199, 0.5);
$black50 : rgba(0, 0, 0, 0.5);
$redish : #FF8F80;


.BG_Light{
	background : $light;
}

.BG_Dark{
	background : $dark;
}

.BG_White{
	background : $dark;
}

.BG_Blackish{
	background : $blackish;
}

.BG_Orange{
	background : $orange;
}

.BG_Greenbluish_light{
	background : $greenbluish_light;
}

.BG_Yellowish{
	background: $yellowish;
}

.BG_Blueish{
	background: $blueish;
}

.BG_WhiteTransparent{
	background: $white_transparent;
}

.BG_BlackTransparent{
	background: $black_transparent;
}

.BG_GreenTransparent{
	background: $green_transparent;
}

.BG_GreenishBlack{
	background: $greenishblack;
}

.BG_Transparent_reverse{
	background: $greenishblack;
}

.BG_White_transparent_reverse{
	background: $white_transparent_reverse;
}

.BG_Greenishlight_transparent{
	background: $greenishlight_transparent;
}

.BG_Black50{
	background: $black50;
}

.BG_Redish{
	background: $redish;
}

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* View information */
$taskSize: 188px;
$taskHeightClosedPourcent: 17%;

$taskHeaderHeight : 52px;
$taskFramePadding : 0px 15px;
$rowHeaderColumnMargin : 0px 10px;
$phaseHeight : 30px;

:export{
	taskSize : $taskSize;
	taskHeightClosedPourcent : $taskHeightClosedPourcent;
}