/* COLOR PALETTE */

$light: linear-gradient(180deg, #D9D9D9 0%, #F7F7F7 100%);
$dark: #6C8CBF;
/*$pinkish: #8B0699;*/
$pinkish: #546AAB;
$white: #FFFFFF;
$blackish: #000000;
$orange: #ffad69;
$greenbluish_light: #97D7C7;
$yellowish: #f5e663;
$blueish: #47a8bd;
$white_transparent: linear-gradient(180deg, #CBC8C8 0%, #FFFFFF 70.31%);
$black_transparent: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.78) 100%);
$green_transparent: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #97D7C7 52.08%, rgba(89, 167, 167, 0.9) 99.48%);
$greenishblack : conic-gradient(from 180deg at 50% 50%, #000000 0deg, #97D7C7 54.38deg, #97D7C7 305.62deg, #000000 360deg);
$transparent_reverse : linear-gradient(180deg, rgba(0, 0, 0, 0.78) 0%, rgba(0, 0, 0, 0) 100%);
$white_transparent_reverse : linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.2) 100%);
$greenishlight_transparent : rgba(151, 215, 199, 0.5);
$black50 : rgba(0, 0, 0, 0.5);
$redish : #FF8F80;
$phaseGrey : #808080;
$darkGrey : #808080;


// tests couleurs viewer
$green: #91cc7f;
$grey: #888888;
$ligth_grey: #aaaaaa;


.BG_Light{
	background : $light;
}

.BG_Dark{
	background : $dark;
}

.BG_White{
	background : $dark;
}

.BG_Blackish{
	background : $blackish;
}

.BG_Pinkish{
	background : $pinkish;
}

.BG_Orange{
	background : $orange;
}

.BG_Greenbluish_light{
	background : $greenbluish_light;
}

.BG_Yellowish{
	background: $yellowish;
}

.BG_Blueish{
	background: $blueish;
}

.BG_WhiteTransparent{
	background: $white_transparent;
}

.BG_BlackTransparent{
	background: $black_transparent;
}

.BG_GreenTransparent{
	background: $green_transparent;
}

.BG_GreenishBlack{
	background: $greenishblack;
}

.BG_Transparent_reverse{
	background: $greenishblack;
}

.BG_White_transparent_reverse{
	background: $white_transparent_reverse;
}

.BG_Greenishlight_transparent{
	background: $greenishlight_transparent;
}

.BG_Black50{
	background: $black50;
}

.BG_Redish{
	background: $redish;
}

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* View information */
$taskSize: 188px;
$taskHeightClosedPourcent: 17%;

$taskHeaderHeight : 52px;
$taskFramePadding : 0px 15px;
$rowHeaderColumnMargin : 0px 10px;
$phaseHeight : 30px;
$playerHeight : 180px;
$playerDateWidth : 34px;
$filterPanelHeight : 50px;

/* 3D */
$select3DColor : $greenbluish_light;
// color for the player rendering
$nextSixWeeks : $ligth_grey;
$currentSixWeeks : $grey;
$currentWeek : $green;

:export{
	taskSize : $taskSize;
	taskHeightClosedPourcent : $taskHeightClosedPourcent;
	light : $light;
	dark : $dark;
	white : $white;
	blackish : $blackish;
	orange : $orange;
	greenbluish_light : $greenbluish_light;
	yellowish : $yellowish;
	blueish :$blueish;
	white_transparent :$white_transparent;
	black_transparent : $black_transparent;
	green_transparent : $green_transparent;
	greenishblack : $greenishblack;
	transparent_reverse : $transparent_reverse;
	white_transparent_reverse : $white_transparent_reverse;
	greenishlight_transparent : $greenishlight_transparent;
	black50 : $black50;
	redish : $redish;
	select3DColor : $select3DColor;
	nextSixWeeks : $nextSixWeeks;
	currentSixWeeks : $currentSixWeeks;
	currentWeek : $currentWeek;
	playerHeight : $playerHeight;
	filterPanelHeight : $filterPanelHeight;
	phaseGrey : $phaseGrey;
	playerDateWidth : $playerDateWidth;
	pinkish : $pinkish;
}