@use "../SixWeekView/assets/variables" as v;

#phaseF{
	position : relative;
	pointer-events : none;
	background-color:rgba(0,0,0,0);
	padding-left : v.$playerDateWidth;
	padding-right : v.$playerDateWidth;
	width : 100%;

	.playerLineWrapper{
		position : relative;
		width : calc(100% + 5px);
		height : 0px;		
		.playerLine{
			z-index: 15;
			/*border-right : 5px solid v.$greenbluish_light;*/
			border : #97D7C7 2px solid;
			background-color:  rgba(255,255,255,0.5);
			border-radius : 5px;
			position : absolute;
			pointer-events : initial;
		}
	}

	#modifyPhaseButton{
		width : 24px;
		height : 24px;
		background-color :white;
		z-index: 500;
		position : absolute;
		left: 0px;
		pointer-events : initial;
		bottom: -30px;
		border-radius: 5px;
	}

	.popUpModif{
		width : 100%;
		height : 100%;
		position : absolute;
		top : 0px;
		left : 0px;
		background-color : rgba(255,255,255,0.7);
		z-index: 500;
		display:flex;
		justify-content : center;
		align-items : center;
		pointer-events : initial;

		p{
			padding : 5%;
			background-color : white;
			border: 1px solid black;
		}
	}


}