@use "assets/variables" as v;
@use "sass:list";


.rowHeader{
	display : flex;
	padding : 0px 40px;
	width: 100%;
	position : relative;

	.rowHeaderItem{
		/*min-height : v.$taskSize;*/
		/*min-width : v.$taskSize;*/
		display: flex;
		justify-content: start;
		align-items: flex-end;
		flex:1;
		min-height: v.$taskHeaderHeight + 10px;

		svg{
			width : 100%;
			height: v.$taskHeaderHeight;
		}

	}

	.Larrow{
		width : 20px;
		position : absolute;
		left : 5px;
		bottom : 0px;
	}

	.Rarrow{
		width : 20px;
		position : absolute;
		right : 10px;
		bottom : 0px;
	}

}