@use "assets/variables" as v;
@use "sass:list";

.phaserow{
	margin-top : 17px;
	position:relative;

	.phaseLine{
		overflow: hidden;
		height: v.$phaseHeight;
		position : relative;
		z-index: 0;
		width : calc(100% + #{list.nth(v.$taskFramePadding, 2) * 2});
		left : - list.nth(v.$taskFramePadding, 2);
	}

	.phaseButton{
		display:flex;
		align-items: center;
		justify-content : center;
		position:absolute;
		z-index:10;

		svg{
			width : 100%;
			height: 100%;
		}

	}

	.open{
		top: 6px;
		right:-7px;
		width : 20px;
		height: 24px;
	}

	.close{
		top:5px;
		right:-5px;
		width : 17px;
		height: 24px;
	}

	.tasksWrapper {

		pointer-events : none;
		/*height: v.$taskSize;*/
		padding: 0px 25px;
		position: relative;		
		top : - (v.$phaseHeight);
		margin-bottom : - (v.$phaseHeight);

		display : flex;

		.taskWrapper{
			pointer-events : auto;
			flex: 1;
		}

	}

}