@use "assets/variables" as v;
@use "sass:list";

.phaserow{
	margin-top : 17px;
	position:relative;

	.rowTransparent{
		opacity : 0.3;
	}

	padding-left :  #{list.nth(v.$taskFramePadding, 2)};
	padding-right :  #{list.nth(v.$taskFramePadding, 2)};

	.phaseLine{
		overflow: hidden;
		position : relative;
		z-index: 0;
		width : calc(100% + #{list.nth(v.$taskFramePadding, 2) * 2});
		left : - list.nth(v.$taskFramePadding, 2);
	}

	.phaseButton{
		display:flex;
		align-items: center;
		justify-content : center;
		position:absolute;
		z-index:10;

		svg{
			width : 100%;
			height: 100%;
		}

	}

	.open{
		right: 0.5%;
		width : 26px;
		height: 30px;
	}

	.close{
		right: 0.5%;
		width : 23px;
		height: 30px;
	}


	.tasksWrapper {

		pointer-events : none;
		/*height: v.$taskSize;*/
		padding: 0px 25px;
		position: relative;		

		display : flex;
		flex-shrink : 1;
		/*overflow : hidden;*/

		.taskWrapper{
			pointer-events : auto;
			flex-shrink: 1;
			flex: 1;
		}

	}

}