@use "assets/variables" as v;

.rowHeader{
	display : flex;
	padding : 0px 25px;
	width: 100%;

	.rowHeaderItem{
		/*min-height : v.$taskSize;*/
		/*min-width : v.$taskSize;*/
		display: flex;
		justify-content: start;
		align-items: flex-end;
		flex:1;

		svg{
			width : 100%;
			height: v.$taskHeaderHeight;
		}

	}

}