@use "assets/variables" as v;

.rowHeader{
	display : flex;
	margin : v.$rowHeaderColumnMargin;
	width: fit-content;

	.rowHeaderItem{
		min-height : v.$taskSize;
		min-width : v.$taskSize;
		display: flex;
		justify-content: start;
		align-items: flex-end;
		flex:1;

		svg{
			width : 100%;
			height: v.$taskHeaderHeight;
		}

	}

}