@use "assets/variables" as v;
@use "sass:list";

.phaserow{
	margin-top : 17px;
	position:relative;

	.phaseLine{
		overflow: hidden;
		height: 30px;
		position : relative;
		z-index: 0;
		width : calc(100% + #{list.nth(v.$taskFramePadding, 2) * 2});
		left : - list.nth(v.$taskFramePadding, 2);
	}

	.phaseButton{
		display:flex;
		align-items: center;
		justify-content : center;
		position:absolute;

		svg{
			width : 100%;
			height: 100%;
		}

	}

	.open{
		top: 6px;
		right:-7px;
		width : 20px;
		height: 24px;
	}

	.close{
		top:5px;
		right:-5px;
		width : 17px;
		height: 24px;
	}

}