@use "assets/variables" as v;
@use "sass:list";

.phaserow{
	margin-top : 17px;

	.phaseLine{
		overflow: hidden;
		height: 30px;
		background-color : yellow;
		position : relative;
		z-index: 0;
		width : calc(100% + #{list.nth(v.$taskFramePadding, 2) * 2});
		left : - list.nth(v.$taskFramePadding, 2);
	}

}