@use "assets/variables" as v;
@use "sass:list";

.tasksWrapper{
	.taskWrapper{
		margin-right : list.nth(v.$rowHeaderColumnMargin , 2);
		padding-right : list.nth(v.$rowHeaderColumnMargin , 2);
		padding-left: list.nth(v.$rowHeaderColumnMargin , 2);
		box-sizing: content-box !important;
		min-width : 188px;

		.task{
			height : 100%;
			min-height : 188px;
			max-height : 188px;
			position : relative;

			.taskclass{
				height:100%
			}

		}
		
		svg{
			min-height : 188px;
		}

		.taskstate{
			position : absolute;
			top:0px;
			width :100%;
		}
	}

	.taskWrapper:last-child{
		margin-right: 0px;
	}

}