@use "assets/variables" as v;
@use "sass:list";

.tasksWrapper{

	.highlighted{
		border: 2px solid red;
    border-radius: 10px;
	}

	.taskWrapper{
		margin-right : list.nth(v.$rowHeaderColumnMargin , 2);
		padding-right : list.nth(v.$rowHeaderColumnMargin , 2);
		padding-left: list.nth(v.$rowHeaderColumnMargin , 2);
		box-sizing: content-box !important;
		/*min-width : 188px;*/
		height: fit-content;

		.task{
			position : relative;
			height: fit-content;

			.taskclass{
				height:100%
			}

		}
		
		.task.selected{
			border: v.$greenbluish_light 5px solid;
			border-radius : 0px 0px 10px 10px;
		}
		
		svg{
			overflow:hidden;
		}

		.taskstate{
			position : absolute;
			top:0px;
			width :100%;
		}
	}

	.taskWrapper:last-child{
		margin-right: 0px;
	}

}