@use "assets/variables" as v;
@use "sass:list";

.tasksWrapper{

	overflow:visible;

	.highlighted{
		border: 2px solid red;
    border-radius: 10px;
	}

	.taskWrapper{
		margin-right : list.nth(v.$rowHeaderColumnMargin , 2);
		min-height : 30px;

		.task{

			/* White */
			background: #FFFFFF;
			/* Drop Black 50 8 4 */
			box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
			border-radius: 0px 0px 10px 10px;
			overflow: visible;

			.taskContent{

				.main{
					overflow: hidden;
					position : relative;

					.taskDescription{
						margin-left : 10px;
						margin-top : 10px;
						overflow: hidden;
	   			  text-overflow: ellipsis;
	   			  overflow-wrap: anywhere;
	   			  font-family: Roboto Condensed;
						font-style: italic;
						font-weight: normal;
						font-size: 1.5em;
						/* or 86% */

						text-transform: capitalize;
						font-feature-settings: 'liga' off;

					}

				}

				.footer{

					display : flex;
					p{
						display: inline-block;

					}

					p:nth-child(1){
						display : flex;
						flex : 1;
						text-align : left;
						max-width : 30%;

						svg{
							width : 100%;
							display : block;
						}

					}

					p:nth-child(2){

						flex : 5;
						display : flex;
						justify-content : center;
						align-items : center;
						max-width : 50%;
						margin-left : 10px;
						svg{
							flex : 1;
							width : 100%;
						}
					}

					p:nth-child(3){

						flex : 1;
						text-align : right;
					}
				}

			}

			.taskHeader{
				width : 100%;
				height : 30px;

				div {

					height : 100%;

					div{
						height : 100%;
						display : flex;
						justify-content : center;
						align-items : center;
						border : 5px solid white;

						p{
							flex : 1;
							display: inline-block;

						}

						p:nth-child(1){
							text-align : left;
							font-family: Oswald;
							font-style: normal;
							font-weight: 500;
							font-size: 0.8em;
							margin-left : 5%;
						}

						p:nth-child(2){

							*{
								max-width : 48%;
							}
							text-align : center;
							font-family: Oswald;
							font-style: normal;
							font-weight: 500;
							font-size: 1.2em;
							span{
								display : inline-block;
								margin-left : 3%;
							}
						}

						p:nth-child(3){
							*{
								max-width : 48%;
							}
							text-align : right;
							font-family: Oswald;
							font-style: normal;
							font-weight: 500;
							font-size: 1.2em;
							margin-right : 5%;
							
							span{
								display : inline-block;
								margin-left : 3%;
							}
						}

					}

				}
			}

			position : relative;
			.taskclass{
				height:100%
			}

			.selected{
				border: v.$greenbluish_light 5px solid;
				border-radius : 0px 0px 10px 10px;
			}

		}
		
		svg{
			overflow:hidden;
		}

		.taskstate{
			position : absolute;
			top:0px;
			width :100%;
		}
	}

	.taskWrapper:last-child{
		margin-right: 0px;
	}

}