@use "assets/variables" as v;
@use "sass:list";

.tasksWrapper{

	overflow:visible;

	.highlighted{

		div{
			background-color : v.$greenbluish_light  !important;
		}
    	border-radius: 10px;
	}

	.taskWrapper.empty{
		pointer-events: none;
	}

	.taskWrapper{
		padding: 0px 10px 0px 10px;
		margin-right : list.nth(v.$rowHeaderColumnMargin , 2);
		min-height : 30px;

		.task{

			/* White */
			background: #FFFFFF;
			/* Drop Black 50 8 4 */
			box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
			border-radius: 0px 0px 10px 10px;
			overflow: visible;

			.taskContent{

				.idFaceFrame{
					display : flex;
					flex-direction : column;

					height : 100%;

					.icon{
						padding-top : 5%;
						padding-left : 5%;

						p{
							display : flex;
							align-items : center;
							font-family: Oswald;
							font-style: normal;
							font-weight: 500;
							font-size: 1em;
						}

						svg{

							width : 20%;
							margin-right : 5%;
						}
					}

					div{
						flex: 1;
					}
				}

				.descriptionFaceFrame{
					height: 100%;
				}

				.lpsFaceFrame{
					background : v.$light;
					height: 100%;
					display : flex;
					justify-content : center;
					align-items : center;
					>div{
						position :relative;
						width : 100%;
						display : flex;
						align-items : center;
						font-family: Oswald;
						font-style: normal;
						font-weight: 500;
						font-size: 1.3rem;
						text-align:center;

						p{
							width : 100%;
							text-align : center;
						}

						svg{
							width : 15%;
						}
						svg:nth-child(1){
							position : absolute;
							left:5%;
						}
						svg:nth-child(3){
							position : absolute;
							right:5%;
						}
					}
				}

				.main{
					overflow: hidden;
					position : relative;

					.taskDescription{
						margin-left : 10px;
						margin-top : 10px;
						overflow: hidden;
		   			  	text-overflow: ellipsis;
		   			  	overflow-wrap: anywhere;
		   			  	font-family: Roboto Condensed;
						font-style: italic;
						font-weight: normal;
						font-size: 1.1rem;
						/* or 86% */

						text-transform: capitalize;
						font-feature-settings: 'liga' off;

					}

				}

				.footer{

					display : flex;
					p{
						display: inline-block;
					}

					p:nth-child(1){
						display : flex;
						flex : 1;
						text-align : left;

						svg{
							width : 70%;
							margin-left : 10%;
							display : block;
						}

					}

					p:nth-child(2){

						flex : 1;
						display : flex;
						justify-content : center;
						span{
							display : flex;
							align-items : center;
							font-family: Oswald;
							font-style: normal;
							font-weight: 500;
							font-size: 1.5rem;
							padding-bottom : 10%;
						}
						svg{
							width : 30%;
						}
					}

					p:nth-child(3){


						flex : 1;
						display : flex;
						justify-content : flex-end;
						margin-right:10px;
						span{
							display : flex;
							align-items : center;
							font-family: Oswald;
							font-style: normal;
							font-weight: 500;
							font-size: 1.5rem;
							padding-bottom : 10%;
						}
						svg{
							width : 30%;
						}
					}
				}

			}

			.taskHeader{
				width : 100%;

				div {

					height : 100%;

					div{
						height : 100%;
						display : flex;
						justify-content : center;
						align-items : center;
						border : 5px solid white;

						p{
							flex : 1;
							display: inline-block;

						}

						p:nth-child(1){
							text-align : left;
							font-family: Oswald;
							font-style: normal;
							font-weight: 500;
							font-size: 0.8rem;
							margin-left : 5%;
						}


						p:nth-child(2){

							flex : 5;
							display : flex;
							justify-content : center;
							align-items : center;
							max-width : 35%;
							margin-right : 10px;
							margin-left : 10px;
							
							div{
								width : 100%;
							}

							svg{
								height: 100%;
								flex : 1;
								width : 100%;
							}
						}


						/*p:nth-child(2){

							*{
								max-width : 48%;
							}
							text-align : center;
							font-family: Oswald;
							font-style: normal;
							font-weight: 500;
							font-size: 1.2em;
							span{
								display : inline-block;
								margin-left : 3%;
							}
						}

						p:nth-child(3){
							*{
								max-width : 48%;
							}
							text-align : right;
							font-family: Oswald;
							font-style: normal;
							font-weight: 500;
							font-size: 1.2em;
							margin-right : 5%;
							
							span{
								display : inline-block;
								margin-left : 3%;
							}
						}*/

					}

					.lpsSelected{
						border : 0px solid black;
						flex: 4 !important;
					}

				}
			}

			position : relative;
			.taskclass{
				height:100%
			}

			.selected{
				border: v.$greenbluish_light 5px solid;
				border-radius : 0px 0px 10px 10px;
			}

		}
		
		svg{
			overflow:hidden;
		}

		.taskstate{
			position : absolute;
			top:0px;
			width :100%;
		}
	}

	.taskWrapper:last-child{
		margin-right: 0px;
	}

}