@use "assets/variables" as v;

.taskTableFrame{

	background: v.$light;
	padding : v.$taskFramePadding;
	z-index:-2;
	overflow: scroll;
	height: 100%;


	.taskTableWrapper{
		height: 100%;
		position: relative;
		width: fit-content;
		min-width: 100%;
	}

}

