#taskTable{
	width : 100%;
	overflow: scroll;
	display : flex;
	background: linear-gradient(180deg, #D9D9D9 0%, #F7F7F7 100%);
}

#taskTable .column{
	background-color : #FFFFFF;
	display : flex;
	flex-direction: column;
	width : calc(16.6666666667%);
	min-width : 180px;
	padding : 0px 5px;
	margin : 0px 5px;
	min-height : 80vh;
}

#taskTable .column.played{
	background-color : #97D7C7;
}