@use "assets/variables" as v;

/*$taskHeight : */


.taskTableFrame{

	background: v.$light;
	padding : v.$taskFramePadding;
	z-index:-2;
	overflow: scroll;
	height: 100%;


	.taskTableWrapper{
		height: 100%;
		position: relative;
		width: 100%;/*fit-content;*/
		min-width: 100%;
	}

}

