@use "assets/variables" as v;
@use "sass:list";

#taskTableBackground{
	position: absolute;
	top : 0px;
	left : 0px;
	height: fit-content;
	padding-left : calc(#{list.nth(v.$taskFramePadding, 2)} + #{list.nth(v.$rowHeaderColumnMargin, 2)});
	padding-right : calc(#{list.nth(v.$taskFramePadding, 2)} + #{list.nth(v.$rowHeaderColumnMargin, 2)});
	padding-top : v.$taskSize;
	padding-bottom : v.$taskSize;
	display : flex;
	width: 100%;

	.backgroundcolumn{
		min-width : v.$taskSize - list.nth(v.$rowHeaderColumnMargin, 2) * 2;
		background : v.$white_transparent_reverse;
		margin-right : list.nth(v.$rowHeaderColumnMargin , 2);
		padding-right : list.nth(v.$rowHeaderColumnMargin , 2);
		box-sizing: content-box;
		flex: 1;
		border-radius: 10px;	
		position : relative;
		z-index: 0;
	}

	.backgroundcolumn:last-child{
		margin-right: 0px;
	}

}