@use "assets/variables" as v;

.taskTableFrame{

	background: v.$light;
	padding : v.$taskFramePadding;
	z-index:-2;
	overflow: scroll;


	.taskTableWrapper{
		position: relative;
		width: fit-content;
	}

}

