#filterPanelWrapper{
	position: absolute;
	bottom: 15px;
	width : 100%;
	display : flex;
	justify-content: center;
}

#filterPanel{
	width:fit-content;
	padding-left : 10%;
	padding-right : 10%;
	background-color : rgba(255,255,255,0.5);
	border-radius : 5px;
	box-shadow: 1px 3px 10px 0 rgba(0,0,0,0.5);
}

.adsk-viewing-viewer{
	position:initial;
}

#toolbar-settingsTool, #toolbar-fullscreenTool, #navTools, #toolbar-measurementSubmenuTool, #toolbar-explodeTool{
	display : none !important;
}

#modelTools{
	margin-right : 0px;
	border-radius: 5px 0px 0px 5px;
}

#settingsTools{
	margin-left : 0px;
	border-radius: 0px 5px 5px 0px;
}

#toolbar-sectionTool{
	display : block !important;
}

#guiviewer3d-toolbar{
	width : fit-content;
	right : 0px;
	position : absolute;
	left : initial;
}

#forgeV{
	width : 100%;
	height: 100%;
}

.adsk-viewing-viewer.dark-theme .adsk-control-group{
	background-color: rgba(255,255,255,0.5) !important;
}

.visibility{
	display : none;
}

#ViewerModelStructurePanel-scroll-container *{
	color : white !important;
}

#loadFrame{
	position : absolute;
	left : 0px;
	top : 0px;
	height : 100%;
	width : 100%;
	background-color : white;
	z-index : 2000;
	display : flex;
	justify-content : center;
	align-items : center;
	margin : 10px;
	font-family: Oswald;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	text-indent: 3px;
	text-transform: capitalize;
	margin : 0%;
}

#modelMenu{
	background-color : rgba(0,0,0,0);
	position : absolute;
	z-index: 0;
	width : 100%;
	display : flex;
	justify-content : center;
	z-index:1000;

	.openMenu{
		display : flex;
		flex-direction : column;
		width : 100%;
		align-items: center;
		justify-content : center;

		> div{
			width : 100%;
			padding : 10px;
			display : flex;
			justify-content: center;
			align-items : center;
			background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #FFFFFF 100%);
    		backdrop-filter: blur(2px);

			.ifcName{
				margin : 10px;
				font-family: Oswald;
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				text-indent: 3px;
				text-transform: capitalize;

				display : flex;
				align-items : center;

				*{
					display : inline-block;
				}

			}

			.ifcName.shown{

				.fileButton{
					background: #FFFFFF;
					/* Blackish */

					border: 2px solid #000000;
					box-sizing: border-box;
					/* Drop shadow */

					height : 30px;
					width : 30px;
					border-radius: 15px;
					box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
				}

				.ifcIcon{
					height : 30px;
					width : 30px;

					svg{
						width :90%;
					}
					opacity : 1;

				}

				p{
					color : #000000;
				}

			}

			.ifcName.hide{

				.fileButton{
					/* Blackish */

					border: 2px solid #000000;
					box-sizing: border-box;
					/* Drop shadow */

					filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));

					height : 30px;
					width : 30px;
					border-radius: 15px;

				}

				.ifcIcon{
					height : 30px;
					width : 30px;

					svg{
						width :90%;
					}
					opacity : 0.6;
				}

				p{
					color : #808080;
				}

			}

		}

		svg{

			width : 25%;
		}
	}

	.menuContent{

	}
}