.modelSelect{

	> div{
		padding : 50px;
		border: 1px solid black;
		border-radius: 5px;
		display:flex;
		justify-content: center;
		align-items: center;

		select{	
			font-size: 25px;
			margin-right : 10px;
			border-radius : 5px;
		}

		button{
			font-size: 22px;
			padding : 2px;
			border-radius : 5px;
		}
	}


}