.filterPanel{

	display: flex;
    align-items: left;
    flex-direction: column;

	label{
		border : 1px solid black;
		padding : 5px;
		border-radius: 5px;
		display : inline-block;
		margin : 5px;
	}

	select{
		border : 1px solid black;
		padding : 5px;
		border-radius: 5px;
		display : inline-block;
		margin : 5px;
	}

	.mainMenu{

		display : flex;
    	min-height : 50px;

		.filterMenu{
			width : 40px;
			height : 100%;
			margin : 10px;
			cursor: pointer;
			display:inline-block;

			svg{
				width : 100%;
				height : 100%;
			}

		}

		.itemContainer{
			display: flex;
			align-items:center;
		}

		.menuItem{
			width : 40px;
			filter: invert(1);
		}

	}

	.subMenuContainer{

		.offset3D{
			width : 60px;
		}

		.offsetPlanning{
			width : 100px;
		}

		.offsetDisplay{
			width : 140px;
		}

		>div>div{
			display : flex;
			align-items: center;
			margin-right:10px;

			p{
				font-family: Oswald;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 18px;
			}

			.offsetTeamDisplay{
				width : 20px;
			}

			.teamItems{
				display : flex;
				align-items: center;
				margin-right:10px;
			}

			.layersItems{
				display : flex;
				align-items: center;
				margin-right:10px;
			}
		}

	}

}