.filterPanel{

	display: flex;
    align-items: left;
    flex-direction: column;

	label{
		border : 1px solid black;
		padding : 5px;
		border-radius: 5px;
		display : inline-block;
		margin : 5px;
	}

	select{
		border : 1px solid black;
		padding : 5px;
		border-radius: 5px;
		display : inline-block;
		margin : 5px;
	}


	.zonesItems > div{
		width :38px;
	}

	.constructsItems > div,  .layersItems > div, .teamItems > div{
		width : 30px;
		margin-right : 5px;
	}

	.teamItems > div{
		margin-bottom : 15px;
		border-radius : 5px;
	}

	.mainMenu{

		display : flex;
    	min-height : 50px;

		.filterMenu{
			width : 40px;
			height : 100%;
			margin : 10px;
			cursor: pointer;
			display:inline-block;

			svg{
				width : 100%;
				height : 100%;
			}

		}

		.itemContainer{
			display: flex;
			align-items:center;
			margin-right : 32px;
		}

		.itemContainer:nth-child(2), .itemContainer:nth-child(3){
			margin-right : 65px;
		}


		.menuItem{
			width : 40px;
			filter: invert(1);
		}

	}

	.subMenuContainer{
		margin-top : 20px;

		.offset3D{
			width : 60px;
		}

		.offsetPlanning{
			width : 100px;
		}

		.offsetDisplay{
			width : 140px;
		}

		>div>div{
			display : flex;
			align-items: center;
			margin-right:10px;

			p{
				font-family: Oswald;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 18px;
			}

			.offsetTeamDisplay{
				width : 15.5%;
			}

			.offsetConstructDisplay{
				width : 45%;
			}

			.offsetZoneDisplay{
				width : 47.5%;
			}

			.offsetLayerDisplay{
				width : 45%;
			}

			.offsetZoneDisplay ~ div{
				position :relative; 
				left : 40%;
			}

			.offsetLayerDisplay ~ div{
				position :relative; 
				left : 14%;
			}

			.offsetConstructDisplay ~ div{
				position :relative; 
				left : 28%;
			}

			.teamItems{
				display : flex;
				align-items: center;
				margin-right:10px;
			}

			.layersItems, .constructsItems, .zonesItems{
				display : flex;
				align-items: center;
				margin-right:10px;
				margin-bottom : 5px;
			}
		}

	}

}