@use "../SixWeekView/assets/variables" as v;

.svgPlayer{
	svg{
		height : 100%;
		width : 100%;

		.playerBackground{
			height : 6%;
			width : calc(100% + 2px);
			x : -1;
			y : 77%;
			stroke: v.$blackish;
			fill: "rgba(0,0,0,0)";
			pointer-events: none;
		}

		.playerBackgroundFilled{
			height : 6%;
			x : -1;
			y : 77%;
			stroke: v.$blackish;
			fill: v.$blackish;
			pointer-events: none;
		}

		.playerButton{
			/*fill: v.$greenbluish_light;*/
			cy : 77%;
		}

	}
}