@use "../SixWeekView/assets/variables" as v;

.svgPlayer{
	svg{
		height : 100%;
		width : 100%;

		.playerBackground{
			height : 6%;
			width : calc(100% + 2px);
			x : -1;
			y : 57%;
			stroke: v.$blackish;
			fill: "rgba(0,0,0,0)";
		}

		.playerBackgroundFilled{
			height : 6%;
			x : -1;
			y : 57%;
			stroke: v.$blackish;
			fill: v.$blackish;
		}

		.playerButton{
			fill: v.$greenbluish_light;
			cy : 67%;
		}

		*{
			pointer-events:none;
		}

	}
}