@use "../SixWeekView/assets/variables" as v;

.playerWeek{

	p{
		padding-top: 10px;
	    width: 100%;
	    text-align: center;
	    font-family: Oswald;
	}

}

.playerWeek.selected{
	/*border: 2px solid v.$greenbluish_light;*/
	background : v.$greenbluish_light !important;
	margin:0px;
}

.playerWeek.hightlighted{
	background: v.$white_transparent_reverse;
}

.playerWeek.built{
	background: v.$grey;
}

.playerWeek.toBuild{
	box-sizing: border-box;
	border: solid 1px v.$white;
	margin:1px;
}