@use "../SixWeekView/assets/variables" as v;

.player{

	position: relative;

	.milestoneInfos{
		height : 15%;
		position : absolute;
		top : 0%;
		background-color : rgba(255,255,255,0.3);
		width : fit-content;
		border-radius : 5px 5px 0px 0px;
		margin-left : v.$playerDateWidth;
		z-index: 40;

		p{
			font-family: Roboto Condensed;
			font-style: italic;
			font-weight: normal;
			font-size: 28px;
		}
	}

	#timelineOffset{

		height : 100%;
		position : absolute;
		width : calc(100% - #{ 2 * v.$playerDateWidth});
		margin-left : v.$playerDateWidth;
	}

	.backgroundPlayer{
		padding-top : 30px;
		display: flex;
		height: 100%;

		#timelinePlayer{
			height : 100%;
			width : calc(100% - #{ 2 * v.$playerDateWidth});
		}

		.date{
			display: flex;
		    align-items: center;
		    justify-content: center;
			text-align: center;
			width : v.$playerDateWidth;
			background-color: rgba(0,0,0,0);
			color: v.$blackish;
			/* Oswald 24 */
			font-family: Oswald;
			font-style: normal;
			font-weight: 500;
			font-size: 22px;
			line-height: 36px;
			display: flex;
			align-items: center;
			text-align: center;
			text-indent: 3px;
			text-transform: capitalize;
		}

		.r90{
			transform: rotate(-90deg);
		}
	}

	.svgPlayer{
		position : absolute;
		top : 30px;
		height: calc(100% - 30px);
		width : calc(100% - #{2 * v.$playerDateWidth});
		margin : 0px v.$playerDateWidth;
	}

}