#timelineOffset{

	overflow: hidden;

	#sixWeekSelected{
		border : 3px solid black;
		border-radius: 5px;
		margin-bottom : 2px;
		height : calc(100% - 28px);
		position: relative;
		top : 28px;
	}

	#sixWeekSetter{
		height : 30px;
		position : absolute;

		div{
			position : absolute;
			width : 33.33%;
			margin-left : 33.33%;
			margin-top : 50%;
			height : 50%;
			border-radius: 5px 5px 0px 0px;
			bottom : 0px;
		}

	}
}