@use "../SixWeekView/assets/variables" as v;

.timelinePlayer{
	display : flex;
	background: rgba(0,0,0,0); /*v.$light;*/

	.week{
		flex : 1;
		background: rgba(0,0,0,0);/*v.$white_transparent;*/
		mix-blend-mode: normal;
		border-radius: 2px;
		margin: 2px;
	}

	.playerLine{

	}

}