/* APP */

@use "components/SixWeekView/assets/variables" as v;

html{
	font-size : 15px;
}

@media screen and (max-width: 1800px){
	html{
		font-size : 13px;
	}
}

@media screen and (max-width: 1500px){
	html{
		font-size : 12px;
	}
}

@media screen and (max-width: 1200px){
	html{
		font-size : 11px;
	}
}

@media screen and (max-width: 1000px){
	html{
		font-size : 10px;
	}
}


@media screen and (max-width: 800px){
	html{
		font-size : 9px;
	}
}


@media screen and (max-width: 600px){
	html{
		font-size : 8px;
	}
}

@media screen and (max-width: 500px){
	html{
		font-size : 7px;
	}
}

@media screen and (max-width: 400px){
	html{
		font-size : 6px;
	}
}

@media screen and (max-width: 300px){
	html{
		font-size : 5px;
	}
}

.licorneButton{
	background-image: url("https://media.giphy.com/media/db3Z7NdjXNqWFyFObO/giphy.gif");
	background-repeat: no-repeat;
  background-size: 100% 100%;
}

body{
	overflow:hidden;
}

#content{
	height: 100vh;
	max-height: 100vh;
	width : 100vw;
	max-width: 100vw;

	#viewerFrame{
		box-sizing: border-box;
		display:inline-block;
		background : v.$light;

		width : 40%;
		max-width : 40%;
		height : 100vh;
		max-height: 100vh;
		position : relative;

		#filterPanel{
			position: absolute;
			bottom:0px;
			z-index:10;
		}

		#forgeViewer{
			height : 100vh;
			overflow: hidden;
			position: relative;
			background:none!important;
		}

		box-sizing: border-box;

		#copyright{
			z-index: 10;
			
			position : absolute;
			top : 0px;
			right : 0px;
			display : flex;
			align-items : center;

			p{
				display: inline-block;
				font-size: 10px;
				color: white;
			}


			#infoIcon{
				display: inline-block;
				width : 30px;
			}
		}

	}

	#planningFrame{

		float:right;
	 	min-height: 0px;
	 	position: relative;

		border-left : 5px solid black;
		width : 60%;
		height : 100vh;
		max-height: 100vh;
		box-sizing: border-box;

		background: v.$light;
		*{
			box-sizing: border-box;
		}

		#taskTableFrame{
			height : calc(100vh - #{v.$playerHeight} - 100px);
			overflow-x: hidden;
		}

		.phasesFrame{
			z-index: 2;
			border-top : 1px solid rgba(0, 0, 0, 0.1);
		}

		#mainPlayer{
			height : v.$playerHeight;
			width : 100%;
		}
	}
	
	#modelSelect{
		display:flex;
		justify-content: center;
		align-items:center;
		width : 100vw;
		height : 100vh;
	}
	
	#infoFrame{
		position : absolute;
		top : 0px;
		left : 0px;
		width : 100vw;
		height : 100vh;
		z-index : 200;
		background-color:rgba(255,255,255,0.3);
		display: flex;
		justify-content : center;
		align-items : center;

		div{
			width : 50vw;
			height : 50vh;
			background-color : white;
			border : 1px solid black;
			display : flex;
			justify-content : center;
			align-items : center;
			font-size: 30px;
		}
	}

}