/* APP */

@use "components/SixWeekView/assets/variables";

body{
	overflow:hidden;
}

#content{
	height: 100vh;
	max-height: 100vh;
	width : 100vw;
	max-width: 100vw;

	*{
		box-sizing: border-box;
	}

	#viewerFrame{
		display:inline-block;

		width : 100%;
		max-width : 100vw;
		height : 100vh;
		max-height: 100vh;

		#forgeViewer{
			height : calc(100vh - 30px);
			overflow: hidden;
		}

		#mainPlayer{
			height : 30px;
		}

	}

}