/* APP */

@use "components/SixWeekView/assets/variables" as v;

body{
	overflow:hidden;
}

#content{


	*{
		box-sizing: border-box;
	}

	#planningFrame{

		float:right;
	 	min-height: 0px;
	 	position: relative;

		border-left : 5px solid black;
		height: 100vh;
		max-height: 100vh;
		width : 100vw;
		max-width: 100vw;
		box-sizing: border-box;

		background: v.$light;
		*{
			box-sizing: border-box;
		}

		#taskTableFrame{
			height : calc(100vh - #{v.$playerHeight} - 100px);
			overflow-x: hidden;
		}

		.phasesFrame{
			z-index: 2;
			border-top : 1px solid black;
		}

		#mainPlayer{
			height : v.$playerHeight;
			width : 100%;
		}
	}

	#modelSelect{
		display:flex;
		justify-content: center;
		align-items:center;
		width : 100vw;
		height : 100vh;
	}

	#copyright{
		position : absolute;
		top : 0px;
		right : 15px;
		display : flex;
		align-items : center;
		z-index:30;

		p{
			display: inline-block;
			font-size: 10px;
			color: #808080;
		}


		#infoIcon{
			display: inline-block;
			width : 30px;
		}
	}

	#infoFrame{
		position : absolute;
		top : 0px;
		left : 0px;
		width : 100vw;
		height : 100vh;
		z-index : 200;
		background-color:rgba(255,255,255,0.3);
		display: flex;
		justify-content : center;
		align-items : center;

		div{
			width : 50vw;
			height : 50vh;
			background-color : white;
			border : 1px solid black;
			display : flex;
			justify-content : center;
			align-items : center;
			font-size: 30px;
		}
	}

}