/* APP */

@use "components/SixWeekView/assets/variables" as v;

body{
	overflow:hidden;
}

#content{
	height: 100vh;
	max-height: 100vh;
	width : 100vw;
	max-width: 100vw;

	#viewerFrame{
		position: relative;
		display:inline-block;

		width : 100%;
		max-width : 100vw;
		height : 100vh;
		max-height: 100vh;

		#filterPanel{
			height : v.$filterPanelHeight;
			width : 100%;
		}

		#forgeViewer{
			height : calc(100vh - #{v.$playerHeight} - #{v.$filterPanelHeight});
			overflow: hidden;
			position: relative;
		}

		#mainPlayer{
			height : v.$playerHeight;
		}

	}

}