/* APP */

@use "components/SixWeekView/assets/variables" as v;

body{
	overflow:hidden;
}

#content{
	height: 100vh;
	max-height: 100vh;
	width : 100vw;
	max-width: 100vw;

	#viewerFrame{
		position: relative;
		display:inline-block;
		background : v.$light;
		box-sizing: border-box;

		width : 100%;
		max-width : 100vw;
		height : 100vh;
		max-height: 100vh;

		#filterPanel{
			position: absolute;
			z-index:10;
			bottom:0px;
		}

		#forgeViewer{
			height : 100vh;
			overflow: hidden;
			position: relative;
			background:none!important;
		}

	}

	#modelSelect{
		display:flex;
		justify-content: center;
		align-items:center;
		width : 100vw;
		height : 100vh;
	}

	#copyright{
		position : absolute;
		top : 0px;
		right : 0px;
		display : flex;
		align-items : center;

		p{
			display: inline-block;
			font-size: 10px;
			color: white;
		}


		#infoIcon{
			display: inline-block;
			width : 30px;
		}
	}
	
	#infoFrame{
		position : absolute;
		top : 0px;
		left : 0px;
		width : 100vw;
		height : 100vh;
		z-index : 200;
		background-color:rgba(255,255,255,0.3);
		display: flex;
		justify-content : center;
		align-items : center;

		div{
			width : 50vw;
			height : 50vh;
			background-color : white;
			border : 1px solid black;
			display : flex;
			justify-content : center;
			align-items : center;
			font-size: 30px;
		}
	}


}