/* APP */

@use "components/SixWeekView/assets/variables";
#content{
	display : flex;
	height: 100vh;
	max-height: 100vh;
	width : 100vw;
	max-width: 100vw;

	*{
		box-sizing: border-box;
	}

	#viewerFrame{

		width : 25%;
		max-width : 25%;
		height : 100vh;
		max-height: 100vh;


		#forgeViewer{
			height : calc(100vh - 30px);
		}

		#mainPlayer{
			height : 30px;
		}

	}

	#taskTableFrame{
		border-left : 5px solid black;
		width : 75%;
		height : 100vh;
		max-height: 100vh;
		overflow:scroll;
	}

}